@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
    font-family: 'Zootopia';
    src: url('../fonts/Zootopia.eot');
    src: url('../fonts/Zootopia.eot') format('embedded-opentype'),
         url('../fonts/Zootopia.woff2') format('woff2'),
         url('../fonts/Zootopia.woff') format('woff'),
         url('../fonts/Zootopia.ttf') format('truetype'),
         url('../fonts/Zootopia.svg#Zootopia') format('svg');
}

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.left {
	text-align: left
}

.justified {
	text-align: justify
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}

.margin span {
	font-weight: 700;
	color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #1abc9c;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a {
	color: #1abc9c;
}

#contentwrap ul {
	padding-left:20px;
	list-style:none;
}

#contentwrap li {
	margin-bottom:10px;
}

#contentwrap li:before {
	font-family: 'FontAwesome';
	content: '\f1b0';
	margin:0 5px 0 -15px;
	color: #bb0ddb;
}

#headerwrap {
	background: linear-gradient( rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3) ), url(../img/back.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#fff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
	font-family: 'Zootopia', 'Montserrat', sans-serif;
	text-shadow: 0px 4px #bb0ddb;
}

#headerwrap h1 i {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff;
	text-shadow: 1px 1px #333333;
}

#contentwrap a {
	display: inline-block;
}

#contentwrap h2 {
	margin-top: 40px;
}

#social {
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social h4 {
	padding-top: 20px;
	padding-bottom: 30px;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#footerwrap p span {
	display: inline-block;
	width: 60px;
}

.pagecontent p {
	padding-bottom: 10px;
}

.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 1.0;
}

.progress-bar {
	text-align: left;
	white-space: nowrap;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.progress-bar > .progress-type {
	padding-left: 10px;
}

.progress-meter {
	min-height: 15px;
	border-bottom: 2px solid rgb(160, 160, 160);
}

.progress-meter > .meter {
	position: relative;
	float: left;
	min-height: 15px;
	border-width: 0px;
	border-style: solid;
	border-color: rgb(160, 160, 160);
}

.progress-meter > .meter-left {
	border-left-width: 2px;
}

.progress-meter > .meter-left:last-child,
.progress-meter > .meter-right {
	float: right;
	border-right-width: 2px;
}

.progress-meter > .meter-left:last-child,
.progress-meter > .meter-right:last-child {
	border-left-width: 2px;
}

.progress-meter > .meter > .meter-text,
.progress-meter > .meter > .meter-text2 {
	position: absolute;
	display: inline-block;
	bottom: -20px;
	width: 100%;
	font-weight: 700;
	font-size: 0.65em;
	color: rgb(160, 160, 160);
	text-align: left;
}

.progress-meter > .meter > .meter-text2 {
	top: 35px;
}

.progress-meter > .meter.meter-right > .meter-text {
	text-align: right;
}

.reversefootnote {
	display: none !important;
}

table {
	width: 100%;
}

table thead tr {
	background-color: #ccc;
}

table thead tr th {
	padding: 4px 10px;
	font-weight: bold;
}

table tbody tr:last-child {
	border-bottom: 1px solid #666;
	margin-bottom: 4px;
}

table tr:nth-of-type(even) {
	background-color: #eee;
}

table tbody tr td {
	padding: 4px 10px;
}

/* responsive videos */
.video figure {
	position: relative;
	nowhitespace: afterproperty;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video iframe, .video object, .video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}