---
layout: default
---
<div class="container pagecontent" id="contentwrap">
  <div class="row mt mb">
    {% if page.status == "planned" %}
    <div class="col-lg-12">
      <p>There is no information available yet about this chapter, sorry. :)</p>
    </div>
    {% else %}
    <div class="col-lg-7">
      {% if page.quote %}
      <blockquote>
        <p>{{ page.quote["text"] }}</p>
        <footer>
          <cite>{{ page.quote["source"] }}</cite>
        </footer>
      </blockquote>
      {% endif %}
      <h4 style="text-align: left;">Summary</h4>
        {{ content }}
    </div>
    <div class="col-lg-5 left margin">
      <img src="/assets/img/chapters/{{page.season }}x{% if page.episode < 10 %}0{% endif %}{{ page.episode }}a.png" class="img-responsive" alt="Cover-Image Chapter {{ page.chapter }}: {{ page.title }}" style="margin-bottom: 20px;" />

      <span>Words:</span> {{ page.wordcount | money_without_currency | floor }}<br>
      <span>Audio length:</span> {{ page.audioLength }}<br>
      <span>Proofreader:</span> {%if page.proofreading %}{{ page.proofreading }}{% else %}<em>not yet finished</em>{% endif %}

      <h4 style="text-align: left;">Cover-Art:</h4>
      <ul>
      {% assign coverAvailable = false %}
      {% for rights in page.copyrights %}
        {% if rights contains "cover" %}
          {% assign coverAvailable = true %}
          {% for art in rights[1] %}
            <li>{{ art.title }} by {{ art.designer }}</li>
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% if coverAvailable == false %}
            <li><em>not yet available</em></li>
      {% endif %}
      </ul>

      {% if page.voiceGuests %}
      <h4 style="text-align: left;">Voice Guests:</h4>
      <ul>
        {% for guest in page.voiceGuests %}
        <li>{{ guest.name }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <h4 style="text-align: left;">Music:</h4>
      <ul>
      {% assign musicAvailable = false %}
      {% for rights in page.copyrights %}
        {% if rights contains "music" %}
          {% assign musicAvailable = true %}
          {% for art in rights[1] %}
            <li>{% if art.url %}<a href="{{ art.url }}" target="_blank"><i class="fa fa-play" aria-hidden="true"></i></a>&nbsp;{% endif %}{{ art.title }} by {{ art.interpret }}</li>
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% if musicAvailable == false %}
            <li><em>not yet available</em></li>
      {% endif %}
      </ul>
    </div>
    {% endif %}
  </div><!--/row -->
</div><!--/container -->